@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-system: 0 0 0;
    --color-canvas: 0 0 0;
    --color-txtbdr: 0 0 0;
    --color-active: 0 0 0;
    --color-inactive: 0 0 0;
    --color-invalid: 0 0 0;
    --color-bright: 1;
  }
  html {
    font-family: "Noto Sans JP", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    color: rgb(var(--color-txtbdr));
  }
  body {
    background-color: rgb(var(--color-canvas));
  }
}
