@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "NotoSansJP";
    src: url("/font/nsjp-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "NSJP-Centered";
    src: url("/font/nsjp-500.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    ascent-override: 95%;
  }
  @font-face {
    font-family: "NSJP-Centered";
    src: url("/font/nsjp-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    ascent-override: 95%;
  }
  :root {
    --color-canvas: 0 0 0;
    --color-txtbdr: 0 0 0;
    --color-active: 0 0 0;
    --color-inactive: 0 0 0;
    --color-invalid: 0 0 0;
    --color-bright: 1;
  }
  html {
    font-family: "NotoSansJP", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: rgb(var(--color-txtbdr));
  }
  body {
    background-color: rgb(var(--color-canvas));
  }
}
